<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<script>
	function search(){
		var fragment = document.getElementById('searchField').value;
		var xhr = new XMLHttpRequest();
		xhr.open('GET', "search/" + fragment, true);
		xhr.onload = function(){
			alert(xhr.responseText);
		}
		xhr.send();
	}

	function editEmployee(){
		var editedName = document.getElementById('editedName').value;
		var editedActive = document.getElementById('ampActive').checked;
		var e = document.getElementById('empDepartments');
		var editedDepartment = e.options[e.selectedIndex].value;

		var xhr = new XMLHttpRequest();
		var id = window.localStorage.getItem("id");
		xhr.open('PUT', 'employee/' + id, true);
		xhr.setRequestHeader("Content-type", "application/json");
		xhr.onload = function(){
			if(xhr.status == 200){
				alert("The user was edited");
				window.location.reload();
			}
		}
		var employeeJson = {
			"employeeId":id,
			"name":editedName,
			"empActive":editedActive,
			"department":{
				"depName":editedDepartment
			}
		};
		xhr.send(JSON.stringify(employeeJson));
	}

	function edit(id){
		var modal = document.getElementById('modal').style.display='block';
		window.localStorage.setItem('id', id);
	}
</script>
</head>
<body>
	<div class="container">
		<div class="navbar">
			<a href="/1">1</a>
			<a href="/2">2</a>
			<a href="/3">3</a>
			<a href="/4">4</a>
			<a href="/5">5</a>
			<a href="/6">6</a>
			<a href="/7">7</a>
			<a href="/8">8</a>
			<a href="/9">9</a>
			<a href="/10">10</a>
		</div>
		<div class="content">
			<table>
				<tr>
					<th></th>
					<th></th>
					<th style="background: #808080">empID</th>
					<th style="background: #808080">empName</th>
					<th style="background: #808080">empActive</th>
					<th>Department</th>
					<th></th>
				</tr>
				<#list employees as employee>
					<tr class="table-content">
						<td><a href="employee/${employee.employeeId}">View</a></td>
						<td><a id="a-edit" onclick="edit(${employee.employeeId})">Edit</a></td>
						<td>${employee.employeeId}</td>
						<td>${employee.name}</td>
						<td>${employee.empActive?string('true', 'false')}</td>
						<td>${employee.department.depName}</td>
						<td><a href="employee/${employee.employeeId}/delete">Delete</a></td>
					</tr>
				</#list>
			</table>
		</div>
		<div class="navbar">
			<a href="/1">1</a>
			<a href="/2">2</a>
			<a href="/3">3</a>
			<a href="/4">4</a>
			<a href="/5">5</a>
			<a href="/6">6</a>
			<a href="/7">7</a>
			<a href="/8">8</a>
			<a href="/9">9</a>
			<a href="/10">10</a>
		</div>
		<div class="search">
			<p><h3>Type hire to search</h3></p>
			<p>Employee Name</p>
			<input type="text" name="searchField" id="searchField">
			<p><button onclick="search()">Submit</button></p>
		</div>
	</div>
	<div class="modal" id="modal">
		<div class="modal-window">
			<div class="window">
				<p>empName</p>
				<p><input type="text" id="editedName"/></p>
				<p>empActive</p>
				<p><input type="checkbox" id="ampActive"/></p>
				<p>empDepartment</p>
				<select id="empDepartments">
					<option>Click to Select Department</option>
					<option>HR</option>
					<option>Tech</option>
					<option>Finance</option>
				</select>
				<button onclick="editEmployee()">Save</button>
			</div>
		</div>
	</div>
</body>
</html>